{% extends "generic.html" %}
		{% block content %}
		<header>
			<h2>About eBay Discovery</h2>
			<p>A Small Step in Market Analysis and Data Visualization</p>
			<h2>
				eBay Discovery is an application that combines market analysis with data visualization. Created with Flask and js/CSS, we created a beautiful and fluid interface to play with and interact with the eBay API.
			</h3>
			</header>
				<div class="box">
					<span class="image featured"><img src="/static/images/pic01.jpg" alt="" /></span>
					<h3>Why did you create it?</h3>
					<p>We saw an opportunity : eBay has an AMAZING database, but there isn't any program that is taking advantage of the vast amount of information that it provides. We wanted to be the first ones that took the data from the database, and create something pretty. We know that people like buying from popular sellers, so we wanted to know where our closest Top Sellers are.</p>
				</div>
{% endblock %}
