{% extends "generic.html" %}
		{% block content %}
		<header>
			<h2>{{ user.UserID }}</h2>
			<p><a href="{{ user.SellerItemsURL }}" target="_blank">Items Listed</a></p>
		</header>
		<div class="box">		
			<div class="row">
				<div class="6u">
					<h3>Feedback - Score {{ user.FeedbackScore }}</h3>
					{% for comment in feedback %}
					<p>{{ comment.CommentText}} - <strong>{{ comment.CommentingUser }}</strong></p>
					{% endfor %}
				</div>
				<div class="6u">
					<h3>Stats</h3>
					Positive Feedback ({{ user.PositiveFeedbackPercent }} %) <p></p>
					<canvas id="positiveFeedbackPercent" width="200" height="200" data-percent="{{ user.PositiveFeedbackPercent }}"></canvas>
					<br>
					<p> Rating : {{ user.FeedbackRatingStar }} </p>
				</div>
			</div>
		</div>

		<script src="/static/js/Chart.min.js"></script>
		<script>
		$(document).ready(function(){
			// Get context with jQuery - using jQuery's .get() method.
			var ctx = document.getElementById("positiveFeedbackPercent").getContext("2d");
			var percent = $('#positiveFeedbackPercent').data('percent');
			console.log(percent);
			  var data = [
			    { value: percent, color : '#F39C12' },
			    { value: 100 - percent, color : '#ECF0F1'}
			  ]

			  var options = {};

			  var FeedbackChart = new Chart(ctx).Doughnut(data, options);
		});	
		</script>
{% endblock %}
